# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
API.py

# ML models , it downloads automiatically anyway
yolov8*
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store
scratch.py
image.png
countout.csv
db_backup_stock_june18.sql
performance_notes.txt
*.wav
utilities/sql/Scripts alias
sound/barks/output_file.csv
sound/barks/output_file.csv
upscale.py
upscale4x.py
sound/API_11labs.py
topic_model/BOW_lda_corpus.mm.index
topic_model/BOW_lda_corpus.mm
topic_model/dictionary.dict
topic_model/TFIDF_lda_corpus.mm
topic_model/TFIDF_lda_corpus.mm.index
*.id2word
*.index
*.state
*.npy
*.mm
*.dict
model_files/model_affect/model
model_files/model_isface/display64.txt
model_files/model_isface/display64.xlsx
model_files/model_isface/model
model_files/model_isface/topics64_topicnames.csv
model_files/model_isnotface/count_isnotface_model.xlsx
model_files/model_isnotface/model
model_files/model_isnotface/reset_these_no_image.txt
model_files/model_isnotface/topics_isnotface_16.txt
model_files/model_isnotface/topics_isnotface_64.csv
model_files/model_isnotface/topics_isnotface_64.txt
model_files/model_isnotface/topics_isnotface_64_jan10_tempworking.csv
model_files/model_isnotface/topics_isnotface_96.txt
*.tflite
*.task
openaiAPI.py
